* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* will make the body to be able to be eather in dark mode or light mode*/
body {
  min-height: 100vh;
  width: 100%;
}
